*.gem

### Eclipse project management files
.loadpath
.buildpath
.project
.settings/*

### Mac OS temporary files
.DS_Store
._*

### Windows temporary files
Thumbs.db

# vim swap files
.*sw?

# vagrant
.vagrant/*
